
/*---------------------------------------
   SECTION TESTIMONIAL              
-----------------------------------------*/

#owl-demo .item {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.testimonial {
    /*background: url(../images/testimonial.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial .section_overlay {
    height: 700px;
    background: rgba(2, 143, 204, 1);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -10px;
}
div.carousel-inner .item img {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    padding: 3px;
}
.testimonial_caption {
    padding-bottom: 70px;
}
.testimonial_caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
.testimonial_caption h2 {
    color:  #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.testimonial_caption h4 {
    color: #0F0E0E
}
.testimonial_caption h4 span {
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
}
.testimonial ol.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #0F0E0E;
    margin: 1PX
}
.testimonial ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    border: 0px solid #0F0E0E;
    background: #0F0E0E;
}